In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_squared_error

In [6]:
df = pd.read_csv('data/최종데이터.csv', index_col=0)

In [7]:
df.head(3)

,date,tesla,tesla_거래량,tesla_volatility,elec_fee,oli_price,oli_price_volatility,carbon_credits,carbon_credits_volatility,EVE종가,...,alu_price,alu_vol,alu_change,cu_price,cu_change,REGI_price,REGI_vol,REGI_change,검색량,updown
0,2015-01-02,43.86,23820.0,-1.39,6.67,52.69,-3.44,7.01,-3.31,13.38,...,1828.00,31.38,-1.12,6250.25,-0.55,9.79,436.60,0.82,22,0
1,2015-01-05,42.02,26840.0,-4.20,6.67,50.04,-5.03,6.90,-1.57,13.38,...,1812.25,43.25,-0.86,6142.00,-1.73,9.55,481.67,-2.45,19,0
2,2015-01-06,42.26,31310.0,0.57,6.67,47.93,-4.22,6.77,-1.88,13.89,...,1780.25,56.01,-1.77,6131.00,-0.18,9.12,534.76,-4.50,23,1

In [8]:
df_2019 = df.iloc[1027:]

In [148]:
df_2019.reset_index(drop=True, inplace=True)

In [ ]:
# 다음날 주가 예측

In [151]:
y = df_2019.tesla[1:]
x = df_2019.drop(['tesla', 'tesla_volatility', 'updown', 'date'], axis=1)[:-1]

In [152]:
x_train = x[:640]
x_test = x[640:]
y_train = y[:640]
y_test = y[640:]

In [153]:
lr = LinearRegression()
rid = Ridge()
las = Lasso()

models = [lr, rid, las]

for model in models:
    
    model.fit(x_train, y_train)
    preds = model.predict(x_test)
    
    print(model.__class__.__name__)
    print(r2_score(y_test, preds))
    print(np.sqrt(mean_squared_error(y_test, preds)))

LinearRegression
-2.20098478287437
285.28876080960373
Ridge
-2.2142584634441063
285.87965931364124
Lasso
-1.0627967316443239
229.01876856239147

C:\Users\bitcamp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.250e+05, tolerance: 4.473e+03
  model = cd_fast.enet_coordinate_descent(

In [ ]:
# scalering 후 머신러닝

In [154]:
from sklearn.preprocessing import StandardScaler

In [155]:
scaler = StandardScaler()

In [156]:
scaler.fit(x_train)

StandardScaler()

In [160]:
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [161]:
lr = LinearRegression()
rid = Ridge()
las = Lasso()

models = [lr, rid, las]

for model in models:
    
    model.fit(x_train_scaled, y_train)
    preds = model.predict(x_test_scaled)
    
    print(model.__class__.__name__)
    print(r2_score(y_test, preds))
    print(np.sqrt(mean_squared_error(y_test, preds)))

LinearRegression
-2.2009847795228583
285.2887606602515
Ridge
-1.5288684622333801
253.5747336502132
Lasso
-0.9126082455298523
220.52400422134468

In [ ]:
# 주가 변동폭 예측

In [181]:
df.head(3)

,date,tesla,tesla_거래량,tesla_volatility,elec_fee,oli_price,oli_price_volatility,carbon_credits,carbon_credits_volatility,EVE종가,...,alu_price,alu_vol,alu_change,cu_price,cu_change,REGI_price,REGI_vol,REGI_change,검색량,updown
0,2015-01-02,43.86,23820.0,-1.39,6.67,52.69,-3.44,7.01,-3.31,13.38,...,1828.00,31.38,-1.12,6250.25,-0.55,9.79,436.60,0.82,22,0
1,2015-01-05,42.02,26840.0,-4.20,6.67,50.04,-5.03,6.90,-1.57,13.38,...,1812.25,43.25,-0.86,6142.00,-1.73,9.55,481.67,-2.45,19,0
2,2015-01-06,42.26,31310.0,0.57,6.67,47.93,-4.22,6.77,-1.88,13.89,...,1780.25,56.01,-1.77,6131.00,-0.18,9.12,534.76,-4.50,23,1

In [182]:
y = df_2019.tesla_volatility[1:]
x = df_2019.drop(['tesla', 'tesla_volatility', 'updown', 'date'], axis=1)[:-1]

In [183]:
x_train = x[:640]
x_test = x[640:]
y_train = y[:640]
y_test = y[640:]

In [184]:
lr = LinearRegression()
rid = Ridge()
las = Lasso()

models = [lr, rid, las]

for model in models:
    
    model.fit(x_train_scaled, y_train)
    preds = model.predict(x_test_scaled)
    
    print(model.__class__.__name__)
    print(r2_score(y_test, preds))
    print(np.sqrt(mean_squared_error(y_test, preds)))

LinearRegression
-0.6084822732046429
4.533331475888572
Ridge
-3.4420810055863376
7.533600274658203
Lasso
-0.004359247047302839
3.5822333883820123

In [185]:
from sklearn.preprocessing import StandardScaler

In [186]:
scaler = StandardScaler()

In [187]:
scaler.fit(x_train)

StandardScaler()

In [188]:
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [189]:
lr = LinearRegression()
rid = Ridge()
las = Lasso()

models = [lr, rid, las]

for model in models:
    
    model.fit(x_train_scaled, y_train)
    preds = model.predict(x_test_scaled)
    
    print(model.__class__.__name__)
    print(r2_score(y_test, preds))
    print(np.sqrt(mean_squared_error(y_test, preds)))

LinearRegression
-0.6084822732046429
4.533331475888572
Ridge
-3.4420810055863376
7.533600274658203
Lasso
-0.004359247047302839
3.5822333883820123

In [335]:
from sklearn.preprocessing import LabelEncoder

In [339]:
le = LabelEncoder()
le.fit(df.date)
df.date = le.transform(df.date)

In [224]:
# classification을통한 주가 상승/하락 예측

In [398]:
df = pd.read_csv('prepro_data/최종+재무제표.csv', index_col=0)

In [399]:
df.head(3)

,date,tesla,tesla_거래량,tesla_volatility,elec_fee,oli_price,oli_price_volatility,carbon_credits,carbon_credits_volatility,EVE종가,...,매출원가,매출총이익,영업이익,순이익,자산총계,매출총이익률,영업이익률,주당순이익EPS(달러),주가수익배수PER(배),총자산이익률ROA(%)
0,2015-03-31,37.75,25130.0,-0.94,6.83,47.60,-2.22,6.92,0.58,20.09,...,2531.000000,987.0,-245.000000,-398.000000,6120.000000,28.055713,-6.964184,-0.640000,-59.590000,-7.100000
1,2015-04-01,37.52,18970.0,-0.61,6.61,50.09,5.23,7.14,3.18,21.49,...,2533.936508,987.0,-247.253968,-399.952381,6125.523810,28.033465,-7.019530,-0.643016,-59.677778,-7.125397
2,2015-04-02,38.20,25050.0,1.81,6.61,49.14,-1.90,7.15,0.14,21.66,...,2536.873016,987.0,-249.507937,-401.904762,6131.047619,28.011217,-7.074876,-0.646032,-59.765556,-7.150794

In [425]:
y = df.updown[1:]
x = df.drop(['date', 'updown'], axis=1)[:-1]

In [403]:
x_train = x[:1444]
x_test = x[1444:]
y_train = y[:1444]
y_test = y[1444:]

In [404]:
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import classification_report, accuracy_score, roc_auc_score
from sklearn import svm
from lightgbm import LGBMClassifier
import xgboost as xgb

In [405]:
lg = LogisticRegression()
rfc = RandomForestClassifier()
svc = svm.SVC()
lgbm = LGBMClassifier(n_estimators=400)
gbs = GradientBoostingClassifier(n_estimators=400)
clf = xgb.XGBClassifier()



models = [lg, rfc, svc, lgbm, gbs, clf]

for model in models:
    model.fit(x_train, y_train)
    preds = model.predict(x_test)
    print(model.__class__.__name__)
    print('accuracy_score :', accuracy_score(y_test, preds))
    print('roc_auc_score :', roc_auc_score(y_test, preds))
    #print('classification_report :', classification_report(y_test, preds))

LogisticRegression
accuracy_score : 0.5248618784530387
roc_auc_score : 0.49491785659450327
RandomForestClassifier
accuracy_score : 0.4889502762430939
roc_auc_score : 0.4951174573929065
SVC
accuracy_score : 0.5386740331491713
roc_auc_score : 0.5
LGBMClassifier
accuracy_score : 0.5469613259668509
roc_auc_score : 0.5201596806387225
GradientBoostingClassifier
accuracy_score : 0.5662983425414365
roc_auc_score : 0.5385383079993858
[17:47:24] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\bitcamp\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning:

The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].

XGBClassifier
accuracy_score : 0.5414364640883977
roc_auc_score : 0.5369568555197298

In [372]:
params = {
    'max_depth': [2, 3],
    'min_samples_split': [2, 3]
}

In [ ]:
# 스케일링 후 예측

In [141]:
from sklearn.preprocessing import StandardScaler

In [142]:
scaler = StandardScaler()

In [143]:
scaler.fit(x_train)

StandardScaler()

In [144]:
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [146]:
for model in models:
    model.fit(x_train_scaled, y_train)
    preds = model.predict(x_test_scaled)
    print(model.__class__.__name__)
    print('accuracy_score :', accuracy_score(y_test, preds))
    print('roc_auc_score :', roc_auc_score(y_test, preds))

LogisticRegression
accuracy_score : 0.47643979057591623
roc_auc_score : 0.505047440423654
RandomForestClassifier
accuracy_score : 0.5314136125654451
roc_auc_score : 0.4960282436010591
SVC
accuracy_score : 0.5392670157068062
roc_auc_score : 0.5
LGBMClassifier
accuracy_score : 0.5418848167539267
roc_auc_score : 0.5111154015887025
GradientBoostingClassifier
accuracy_score : 0.5314136125654451
roc_auc_score : 0.5105086054721977
[15:52:36] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

C:\Users\bitcamp\anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning:

The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].

XGBClassifier
accuracy_score : 0.5759162303664922
roc_auc_score : 0.5534256398940864

In [ ]:
# GridSearch를 사용하여 최적의 값 검색

In [194]:
from sklearn.model_selection import GridSearchCV, KFold

In [205]:
param_grid={'booster' :['gbtree'],
                 'max_depth':[5,6,8,10,12],
                 'min_child_weight':[1,3,5],
                 'gamma':[0,1,2,3],
                 'nthread':[4],
                 'colsample_bytree':[0.5,0.8],
                 'colsample_bylevel':[0.9],
                 'n_estimators':[50, 100, 150, 200, 250, 300, 350, 400],
                 'objective':['binary:logistic'],
                 'random_state':[2]}

In [206]:
# 3번
cv=KFold()

# 4번
gcv=GridSearchCV(clf, param_grid=param_grid, cv=cv, scoring='f1', n_jobs=4)

# 5번
gcv.fit(x_train, y_train)
print('final params', gcv.best_params_)   # 최적의 파라미터 값 출력
print('best score', gcv.best_score_)

[16:41:20] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
final params {'booster': 'gbtree', 'colsample_bylevel': 0.9, 'colsample_bytree': 0.5, 'gamma': 1, 'max_depth': 6, 'min_child_weight': 3, 'n_estimators': 350, 'nthread': 4, 'objective': 'binary:logistic', 'random_state': 2}
best score 0.5989638590672023

In [211]:
preds = em.predict(x_test)

In [237]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.55      0.35      0.43       176
           1       0.58      0.76      0.65       206

    accuracy                           0.57       382
   macro avg       0.56      0.55      0.54       382
weighted avg       0.56      0.57      0.55       382

In [391]:
sorted_idx = clf.feature_importances_.argsort()

In [396]:
sorted_idx

array([ 0, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39,
       40, 41, 42, 23, 43, 22, 20,  1,  3,  4,  5,  6,  7,  8,  9, 21, 10,
       12, 13, 14, 15, 16, 17, 18, 19, 11, 44,  2], dtype=int64)

In [397]:
df.iloc[:, sorted_idx].columns

Index(['date', 'SGL변동률', 'li_price', 'co', 'co_volatility', '희토류가격', 'nasdaq',
       'nasdaq_거래량', 'nasdaq_volatility', 'ssec', 'ssec_거래량',
       'ssec_volatility', 'dollar', 'dollar_volatility', 'alu_price',
       'alu_vol', 'alu_change', 'cu_price', 'cu_change', 'REGI_price', 'SGL종가',
       'REGI_vol', 'LIT거래량', 'SOXL거래량', 'tesla', 'tesla_volatility',
       'elec_fee', 'oli_price', 'oli_price_volatility', 'carbon_credits',
       'carbon_credits_volatility', 'EVE종가', 'LIT조정종가', 'EVE거래량', 'BYD종가',
       'BYD거래량', 'BYD변동률', 'PSI종가', 'PSI거래량', 'SOXX종가', 'SOXX거래량', 'SOXL종가',
       'EVE변동률', 'REGI_change', 'tesla_거래량'],
      dtype='object')

In [428]:
x.loc[:, columns_li[0]]

for model in models:
    model.fit(x_train, y_train)
    preds = model.predict(x_test)
    print(model.__class__.__name__)
    print('accuracy_score :', accuracy_score(y_test, preds))
    print('roc_auc_score :', roc_auc_score(y_test, preds))

       tesla  tesla_거래량  tesla_volatility  elec_fee  oli_price
0      37.75    25130.0             -0.94      6.83      47.60
1      37.52    18970.0             -0.61      6.61      50.09
2      38.20    25050.0              1.81      6.61      49.14
3      40.62    62280.0              6.34      6.61      52.14
4      40.65    21740.0              0.07      6.61      53.98
...      ...        ...               ...       ...        ...
1801  809.87    25360.0              1.14      7.16      91.59
1802  870.43    32770.0              7.48      7.16      95.72
1803  864.37    24720.0             -0.70      7.16     103.41
1804  879.89    24650.0              1.80      7.16     110.60
1805  839.29    20260.0             -4.61      7.16     107.67

[1806 rows x 5 columns]

In [422]:
from itertools import combinations

In [427]:
columns_li = list(combinations(x.columns, 5))

In [ ]:
for li in columns_li: