In [257]:
df_total = pd.read_csv('prepro_data/테슬라 총합.csv', index_col=0)

In [202]:
datas = os.listdir('data/구글검색량')

In [235]:
li = []
for data in datas:
    df = pd.read_csv('data/구글검색량/{}'.format(data))
    li.append(df)
df_con = pd.concat(li)

In [237]:
df_con = df_con.reset_index()

In [244]:
df_con = df_con.rename(columns={'index' : 'date', '카테고리: 모든 카테고리' : '검색량'})

In [251]:
df_con.검색량 = df_con.검색량.apply(lambda x: x if x.isnumeric() else np.nan)

In [253]:
df_con.dropna(inplace=True)

In [254]:
df_con

            date 검색량
1     2021-07-01  44
2     2021-07-02  45
3     2021-07-03  41
4     2021-07-04  40
5     2021-07-05  38
...          ...  ..
2665  2022-03-04  76
2666  2022-03-05  68
2667  2022-03-06  67
2668  2022-03-07  82
2669  2022-03-08   0

[2655 rows x 2 columns]

In [261]:
df_total = pd.merge(df_total, df_con, on='date', how='left')

In [262]:
df_total.to_csv('prepro_data/검색량추가.csv')