In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import r2_score, mean_squared_error

In [5]:
df = pd.read_csv('prepro_data/테슬라 총합.csv')

In [6]:
y = df.tesla
x = df.drop(['Unnamed: 0', 'date', 'tesla'], axis=1)

In [29]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=111)

In [30]:
lr = LinearRegression()
rid = Ridge()
las = Lasso()

models = [lr, rid, las]

In [31]:
for model in models:
    model.fit(x_train, y_train)
    preds = model.predict(x_test)
    print(model.__class__.__name__)
    print('r2_score :', r2_score(y_test, preds))

LinearRegression
r2_score : 0.9753299215952449
Ridge
r2_score : 0.9753292401170521
Lasso
r2_score : 0.9754050216788074

C:\Users\bitcamp\anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.556e+06, tolerance: 1.195e+04
  model = cd_fast.enet_coordinate_descent(

In [11]:
las.fit(x_train, y_train)

TypeError: fit() missing 1 required positional argument: 'y'

In [ ]:
f

In [10]:
preds = lr.predict(x_test)

r2_score(y_test, preds)

np.sqrt(mean_squared_error(y_test, preds))

41.816757742474046

In [32]:
df.tesla[4:]

4        42.12
5        41.33
6        40.44
7        40.85
8        38.54
         ...
1802    870.43
1803    864.37
1804    879.89
1805    839.29
1806    838.29
Name: tesla, Length: 1803, dtype: float64

In [33]:
df.iloc[:-4]

,Unnamed: 0,date,tesla,tesla_거래량,tesla_volatility,elec_fee,oli_price,oli_price_volatility,carbon_credits,carbon_credits_volatility,...,dollar,dollar_volatility,alu_price,alu_vol,alu_change,cu_price,cu_change,REGI_price,REGI_vol,REGI_change
0,0,2015-01-02,43.86,23820.0,-1.39,6.67,52.69,-3.44,7.01,-3.31,...,91.08,0.90,1828.00,31.38,-1.12,6250.25,-0.55,9.79,436.60,0.82
1,1,2015-01-05,42.02,26840.0,-4.20,6.67,50.04,-5.03,6.90,-1.57,...,91.38,0.33,1812.25,43.25,-0.86,6142.00,-1.73,9.55,481.67,-2.45
2,2,2015-01-06,42.26,31310.0,0.57,6.67,47.93,-4.22,6.77,-1.88,...,91.50,0.13,1780.25,56.01,-1.77,6131.00,-0.18,9.12,534.76,-4.50
3,3,2015-01-07,42.19,14840.0,-0.17,6.67,48.65,1.50,6.78,0.15,...,91.89,0.43,1783.50,61.45,0.18,6125.00,-0.10,9.19,267.66,0.77
4,4,2015-01-08,42.12,17210.0,-0.17,6.67,48.79,0.29,6.81,0.44,...,92.37,0.52,1825.50,75.03,2.35,6122.75,-0.04,9.43,359.25,2.61
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,1798,2022-02-22,821.53,27390.0,-4.14,7.16,92.35,-0.32,89.64,0.28,...,96.03,-0.06,3303.00,69.13,0.72,9915.00,0.17,32.62,622.43,-2.34
1799,1799,2022-02-23,764.04,31070.0,-7.00,7.16,92.10,-0.27,94.74,5.69,...,96.19,0.17,3292.50,50.20,-0.32,9866.00,-0.49,41.11,3340.00,26.03
1800,1800,2022-02-24,800.77,44760.0,4.81,7.16,92.81,0.77,87.21,-7.95,...,97.14,0.98,3394.50,106.85,3.10,9864.00,-0.02,43.06,2090.00,4.74
1801,1801,2022-02-25,809.87,25360.0,1.14,7.16,91.59,-1.31,87.77,0.64,...,96.61,-0.54,3357.50,57.61,-1.09,9873.00,0.09,43.81,1640.00,1.74
1802,1802,2022-02-28,870.43,32770.0,7.48,7.16,95.72,4.51,82.65,-5.83,...,96.71,0.10,3368.50,85.69,0.33,9883.50,0.11,61.50,12740.00,40.38

In [21]:
y = df.tesla[4:]

In [28]:
x = df.iloc[:-4].drop(['Unnamed: 0', 'date', 'tesla'], axis=1)

In [26]:
df.head()

,Unnamed: 0,date,tesla,tesla_거래량,tesla_volatility,elec_fee,oli_price,oli_price_volatility,carbon_credits,carbon_credits_volatility,...,dollar,dollar_volatility,alu_price,alu_vol,alu_change,cu_price,cu_change,REGI_price,REGI_vol,REGI_change
0,0,2015-01-02,43.86,23820.0,-1.39,6.67,52.69,-3.44,7.01,-3.31,...,91.08,0.90,1828.00,31.38,-1.12,6250.25,-0.55,9.79,436.60,0.82
1,1,2015-01-05,42.02,26840.0,-4.20,6.67,50.04,-5.03,6.90,-1.57,...,91.38,0.33,1812.25,43.25,-0.86,6142.00,-1.73,9.55,481.67,-2.45
2,2,2015-01-06,42.26,31310.0,0.57,6.67,47.93,-4.22,6.77,-1.88,...,91.50,0.13,1780.25,56.01,-1.77,6131.00,-0.18,9.12,534.76,-4.50
3,3,2015-01-07,42.19,14840.0,-0.17,6.67,48.65,1.50,6.78,0.15,...,91.89,0.43,1783.50,61.45,0.18,6125.00,-0.10,9.19,267.66,0.77
4,4,2015-01-08,42.12,17210.0,-0.17,6.67,48.79,0.29,6.81,0.44,...,92.37,0.52,1825.50,75.03,2.35,6122.75,-0.04,9.43,359.25,2.61