In [15]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns
import os

In [16]:
# REGI 데이터 가져오기
datas = os.listdir('data/REGI')
li = []
for d in datas:
    df = pd.read_csv(f"data/REGI/{d}")
    li.append(df)

ValueError: Multiple files found in ZIP file. Only one file per ZIP: ['REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (1).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (2).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (3).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (4).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (5).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (6).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (7).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (8).csv']

In [17]:
# 합병, 저장
regi = pd.concat(li)
regi.to_csv('./prepro_data/REGI_data.csv')

In [30]:
import requests
from bs4 import BeautifulSoup
from html_table_parser import parser_functions

In [35]:
# 재무제표 데이터 크롤링
url = 'https://www.choicestock.co.kr/search/invest/TSLA/MRQ'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')
datas = soup.select('table.tableRanking')

In [36]:
# 데이터 프레임 생성
li = []
for data in datas:
    table = parser_functions.make2d(data)
    df = pd.DataFrame(data=table[1:], columns=table[0])
    li.append(df)

In [37]:
# 합병
df = pd.concat(li)

In [38]:
# 저장
df.to_csv('data/fn_statement.csv')

In [39]:
# 재무제표 데이터 크롤링2
url = 'https://www.choicestock.co.kr/search/invest/TSLA'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')
datas = soup.select('table')

In [40]:
# 테이블 데이터 프레임으로 생성
li = []
for data in datas:
    table = parser_functions.make2d(data)
    df = pd.DataFrame(data=table[1:], columns=table[0])
    li.append(df)

In [41]:
# 합병
df = pd.concat(li)

In [42]:
# 전처리
df = df.iloc[:12, :].drop(['초이스스탁US 프리미엄', '프리미엄', '무료'], axis=1).set_index('').T

In [43]:
# 저장
df.to_csv('data/fn_statment2.csv')

In [44]:
# Date 전처리 함수
def change_date(x):
    ret = []
    for da in x.split():
        ret.append(da[:-1])
    return '.'.join(ret)

In [45]:
# Volumn 전치리 함수
def m_to_k(x):
    if x[-1] == 'M':
        return float(x[:-1]) * 1000
    elif x[-1] == 'B':
        return float(x[:-1]) * 1000000
    elif x[-1] == 'K':
        return float(x[:-1])
    else:
        return np.nan

In [46]:
# 알루미늄 전처리
df1 = pd.read_csv('data/알루미늄 내역.csv')
df1.drop(['오픈', '고가', '저가'], axis=1, inplace=True)
df1.columns = ['date', 'alu_price', 'alu_vol', 'alu_change']

In [47]:
df1.date = df1.date.apply(change_date)

In [48]:
df1.date = pd.to_datetime(df1.date)

In [49]:
df1['alu_price'] = df1['alu_price'].apply(lambda x: x.replace(',', ''))

In [50]:
df1['alu_price'] = pd.to_numeric(df1['alu_price'])

In [51]:
df1['alu_vol'] = df1['alu_vol'].apply(m_to_k)

In [52]:
df1['alu_change'] = df1['alu_change'].apply(lambda x: float(x.replace('%', '')))

In [53]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1815 entries, 0 to 1814
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1815 non-null   datetime64[ns]
 1   alu_price   1815 non-null   float64
 2   alu_vol     1814 non-null   float64
 3   alu_change  1815 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 56.8 KB

In [54]:
# 구리 데이터 전처리
df2 = pd.read_csv('data/영국 구리 선물 내역.csv')
df2.drop(['오픈', '고가', '저가', '거래량'], axis=1, inplace=True)
df2.columns = ['date', 'cu_price', 'cu_change']

In [55]:
df2.date = df2.date.apply(change_date)

In [56]:
df2.date = pd.to_datetime(df2.date)

In [57]:
df2.cu_price = df2.cu_price.apply(lambda x: float(x.replace(',', '')))

In [58]:
df2['cu_change'] = df2['cu_change'].apply(lambda x: float(x.replace('%', '')))

In [59]:
# 알루미늄, 구리 데이터 합병
df_mg = pd.merge(df1, df2, on='date', how='outer')

In [60]:
# REGI 데이터 전처리
df3 = pd.read_csv('prepro_data/REGI_data.csv')
df3.drop(['Unnamed: 0', '오픈', '고가', '저가'], axis=1, inplace=True)
df3.columns = ['date', 'REGI_price', 'REGI_vol', 'REGI_change']

In [61]:
df3.date = df3.date.apply(change_date)

In [62]:
df3.date = pd.to_datetime(df3.date)

In [63]:
df3.REGI_vol = df3.REGI_vol.apply(m_to_k)

In [64]:
df3['REGI_change'] = df3['REGI_change'].apply(lambda x: float(x.replace('%', '')))

In [65]:
# REGI 합병
df_mg1 = pd.merge(df_mg, df3, on='date', how='outer')

In [66]:
# 합병한 데이터프레임 저장
df_mg1.to_csv('./prepro_data/alu_cu_REGI_df.csv')

In [67]:
# 리튬 전처리 및 저장

In [68]:
df = pd.read_excel('data/리튬+가격2022-03-08.xls')

In [69]:
df.drop(['등락가', '등락비율', '재고량'], axis=1, inplace=True)

In [70]:
df.columns = ['date', 'li_price']

In [71]:
df.date = pd.to_datetime(df.date)

In [72]:
df.to_csv('prepro_data/data_li.csv')

In [73]:
df_total = pd.read_csv('prepro_data/테슬라 총합.csv', index_col=0)

In [74]:
datas = os.listdir('data/구글검색량')

In [75]:
li = []
for data in datas:
    df = pd.read_csv('data/구글검색량/{}'.format(data))
    li.append(df)
df_con = pd.concat(li)

In [76]:
df_con = df_con.reset_index()

In [77]:
df_con = df_con.rename(columns={'index' : 'date', '카테고리: 모든 카테고리' : '검색량'})

In [78]:
df_con.검색량 = df_con.검색량.apply(lambda x: x if x.isnumeric() else np.nan)

In [79]:
df_con.dropna(inplace=True)

In [80]:
df_con

            date 검색량
1     2021-07-01  44
2     2021-07-02  45
3     2021-07-03  41
4     2021-07-04  40
5     2021-07-05  38
...          ...  ..
2665  2022-03-04  76
2666  2022-03-05  68
2667  2022-03-06  67
2668  2022-03-07  82
2669  2022-03-08   0

[2655 rows x 2 columns]

In [81]:
df_total = pd.merge(df_total, df_con, on='date', how='left')

In [82]:
df_total.to_csv('prepro_data/검색량추가.csv')

In [83]:
df = pd.read_csv('prepro_data/검색량추가.csv', index_col=0)

In [84]:
df['updown'] = df.tesla_volatility.apply(lambda x: 1 if x >= 0 else 0)

In [85]:
df.to_csv('data/최종데이터.csv')

In [86]:
df = pd.read_csv('data/최종데이터.csv', index_col=0)

In [87]:
df_fn = pd.read_csv('data/재무제표 2015.csv', index_col=0)

In [88]:
df.head(3)

,date,tesla,tesla_거래량,tesla_volatility,elec_fee,oli_price,oli_price_volatility,carbon_credits,carbon_credits_volatility,EVE종가,...,alu_price,alu_vol,alu_change,cu_price,cu_change,REGI_price,REGI_vol,REGI_change,검색량,updown
0,2015-01-02,43.86,23820.0,-1.39,6.67,52.69,-3.44,7.01,-3.31,13.38,...,1828.00,31.38,-1.12,6250.25,-0.55,9.79,436.60,0.82,22,0
1,2015-01-05,42.02,26840.0,-4.20,6.67,50.04,-5.03,6.90,-1.57,13.38,...,1812.25,43.25,-0.86,6142.00,-1.73,9.55,481.67,-2.45,19,0
2,2015-01-06,42.26,31310.0,0.57,6.67,47.93,-4.22,6.77,-1.88,13.89,...,1780.25,56.01,-1.77,6131.00,-0.18,9.12,534.76,-4.50,23,1

In [89]:
df_fn.head(3)

,date,매출액,매출원가,매출총이익,영업이익,순이익,자산총계,매출총이익률,영업이익률,주당순이익EPS(달러),주가수익배수PER(배),총자산이익률ROA(%)
0,2015-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
df_fn.dropna(inplace=True)

In [91]:
df_total = pd.merge(df, df_fn, on='date', how='right')

In [92]:
df_total.to_csv('prepro_data/최종+재무제표.csv')

In [93]:
# 구글 검색량 추가

In [94]:
df_total = pd.read_csv('prepro_data/테슬라 총합.csv', index_col=0)

In [95]:
datas = os.listdir('data/구글검색량')

In [96]:
datas

['multiTimeline (1).csv',
 'multiTimeline (10).csv',
 'multiTimeline (11).csv',
 'multiTimeline (12).csv',
 'multiTimeline (13).csv',
 'multiTimeline (14).csv',
 'multiTimeline (2).csv',
 'multiTimeline (3).csv',
 'multiTimeline (4).csv',
 'multiTimeline (5).csv',
 'multiTimeline (6).csv',
 'multiTimeline (7).csv',
 'multiTimeline (8).csv',
 'multiTimeline (9).csv',
 'multiTimeline.csv']

In [97]:
li = []
for data in datas:
    df = pd.read_csv('data/구글검색량/{}'.format(data))
    li.append(df)
df_con = pd.concat(li)

In [98]:
df_con = df_con.reset_index()

In [99]:
df_con = df_con.rename(columns={'index' : 'date', '카테고리: 모든 카테고리' : '검색량'})

In [100]:
df_con.검색량 = df_con.검색량.apply(lambda x: x if x.isnumeric() else np.nan)

In [101]:
df_con.dropna(inplace=True)

In [102]:
df_con

            date 검색량
1     2021-07-01  44
2     2021-07-02  45
3     2021-07-03  41
4     2021-07-04  40
5     2021-07-05  38
...          ...  ..
2665  2022-03-04  76
2666  2022-03-05  68
2667  2022-03-06  67
2668  2022-03-07  82
2669  2022-03-08   0

[2655 rows x 2 columns]

In [103]:
df_total = pd.merge(df_total, df_con, on='date', how='left')

In [104]:
df_total.to_csv('prepro_data/검색량추가.csv')