In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [2]:
import os

In [3]:
# REGI 데이터 가져오기
datas = os.listdir('data/REGI')
li = []
for d in datas:
    df = pd.read_csv(f"data/REGI/{d}")
    li.append(df)

ValueError: Multiple files found in ZIP file. Only one file per ZIP: ['REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (1).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (2).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (3).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (4).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (5).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (6).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (7).csv', 'REGI ┐¬╗τ└√ ╡Ñ└╠┼═ (8).csv']

In [ ]:
# 합병, 저장
regi = pd.concat(li)
regi.to_csv('./prepro_data/REGI_data.csv')

In [243]:
import requests
from bs4 import BeautifulSoup
from html_table_parser import parser_functions

ImportError: cannot import name 'Stylesheet' from 'bs4.element' (C:\Users\bitcamp\anaconda3\lib\site-packages\bs4\element.py)

In [34]:
# 재무제표 데이터 크롤링
url = 'https://www.choicestock.co.kr/search/invest/TSLA/MRQ'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')
datas = soup.select('table.tableRanking')

In [ ]:
# 데이터 프레임 생성
li = []
for data in datas:
    table = parser_functions.make2d(data)
    df = pd.DataFrame(data=table[1:], columns=table[0])
    li.append(df)

In [ ]:
# 합병
df = pd.concat(li)

In [ ]:
# 저장
df.to_csv('prepro_data/fn_statement.csv')

In [82]:
# 재무제표 데이터 크롤링2
url = 'https://www.choicestock.co.kr/search/invest/TSLA'
res = requests.get(url)
soup = BeautifulSoup(res.text, 'html.parser')
datas = soup.select('table')

In [86]:
# 테이블 데이터 프레임으로 생성
li = []
for data in datas:
    table = parser_functions.make2d(data)
    df = pd.DataFrame(data=table[1:], columns=table[0])
    li.append(df)

In [93]:
# 합병
df = pd.concat(li)

In [94]:
# 전처리
df = df.iloc[:12, :].drop(['초이스스탁US 프리미엄', '프리미엄', '무료'], axis=1).set_index('').T

In [96]:
# 저장
df.to_csv('data/재무재표_전처리.csv')

In [31]:
# Date 전처리 함수
def change_date(x):
    ret = []
    for da in x.split():
        ret.append(da[:-1])
    return '.'.join(ret)

In [32]:
# Volumn 전치리 함수
def m_to_k(x):
    if x[-1] == 'M':
        return float(x[:-1]) * 1000
    elif x[-1] == 'B':
        return float(x[:-1]) * 1000000
    elif x[-1] == 'K':
        return float(x[:-1])
    else:
        return np.nan

In [244]:
# 알루미늄 전처리
df1 = pd.read_csv('data/알루미늄 내역.csv')
df1.drop(['오픈', '고가', '저가'], axis=1, inplace=True)
df1.columns = ['date', 'alu_price', 'alu_vol', 'alu_change']

In [245]:
df1.date = df1.date.apply(change_date)

In [246]:
df1.date = pd.to_datetime(df1.date)

In [247]:
df1['alu_price'] = df1['alu_price'].apply(lambda x: x.replace(',', ''))

In [248]:
df1['alu_price'] = pd.to_numeric(df1['alu_price'])

In [249]:
df1['alu_vol'] = df1['alu_vol'].apply(m_to_k)

In [250]:
df1['alu_change'] = df1['alu_change'].apply(lambda x: float(x.replace('%', '')))

In [251]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1815 entries, 0 to 1814
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        1815 non-null   datetime64[ns]
 1   alu_price   1815 non-null   float64
 2   alu_vol     1814 non-null   float64
 3   alu_change  1815 non-null   float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 56.8 KB

In [252]:
# 구리 데이터 전처리
df2 = pd.read_csv('data/영국 구리 선물 내역.csv')
df2.drop(['오픈', '고가', '저가', '거래량'], axis=1, inplace=True)
df2.columns = ['date', 'cu_price', 'cu_change']

In [256]:
df2.date = df2.date.apply(change_date)

In [257]:
df2.date = pd.to_datetime(df2.date)

In [258]:
df2.cu_price = df2.cu_price.apply(lambda x: float(x.replace(',', '')))

In [259]:
df2['cu_change'] = df2['cu_change'].apply(lambda x: float(x.replace('%', '')))

In [181]:
# 알루미늄, 구리 데이터 합병
df_mg = pd.merge(df1, df2, on='date', how='outer')

In [194]:
# REGI 데이터 전처리
df3 = pd.read_csv('prepro_data/REGI_data.csv')
df3.drop(['Unnamed: 0', '오픈', '고가', '저가'], axis=1, inplace=True)
df3.columns = ['date', 'REGI_price', 'REGI_vol', 'REGI_change']

In [200]:
df3.date = df3.date.apply(change_date)

In [201]:
df3.date = pd.to_datetime(df3.date)

In [204]:
df3.REGI_vol = df3.REGI_vol.apply(m_to_k)

In [205]:
df3['REGI_change'] = df3['REGI_change'].apply(lambda x: float(x.replace('%', '')))

In [208]:
# REGI 합병
df_mg1 = pd.merge(df_mg, df3, on='date', how='outer')

In [211]:
# 합병한 데이터프레임 저장
df_mg1.to_csv('./prepro_data/alu_cu_REGI_df.csv')

In [ ]:
# 리튬 전처리 및 저장

In [222]:
df = pd.read_excel('data/리튬+가격2022-03-08.xls')

In [224]:
df.drop(['등락가', '등락비율', '재고량'], axis=1, inplace=True)

In [226]:
df.columns = ['date', 'li_price']

In [231]:
df.date = pd.to_datetime(df.date)

In [234]:
df.to_csv('prepro_data/data_li.csv')

In [257]:
df_total = pd.read_csv('prepro_data/테슬라 총합.csv', index_col=0)

In [202]:
datas = os.listdir('data/구글검색량')

In [235]:
li = []
for data in datas:
    df = pd.read_csv('data/구글검색량/{}'.format(data))
    li.append(df)
df_con = pd.concat(li)

In [237]:
df_con = df_con.reset_index()

In [244]:
df_con = df_con.rename(columns={'index' : 'date', '카테고리: 모든 카테고리' : '검색량'})

In [251]:
df_con.검색량 = df_con.검색량.apply(lambda x: x if x.isnumeric() else np.nan)

In [253]:
df_con.dropna(inplace=True)

In [254]:
df_con

            date 검색량
1     2021-07-01  44
2     2021-07-02  45
3     2021-07-03  41
4     2021-07-04  40
5     2021-07-05  38
...          ...  ..
2665  2022-03-04  76
2666  2022-03-05  68
2667  2022-03-06  67
2668  2022-03-07  82
2669  2022-03-08   0

[2655 rows x 2 columns]

In [261]:
df_total = pd.merge(df_total, df_con, on='date', how='left')

In [262]:
df_total.to_csv('prepro_data/검색량추가.csv')

In [304]:
df = pd.read_csv('prepro_data/검색량추가.csv', index_col=0)

In [305]:
df['updown'] = df.tesla_volatility.apply(lambda x: 1 if x >= 0 else 0)

In [306]:
df.to_csv('data/최종데이터.csv')

In [307]:
df

,date,tesla,tesla_거래량,tesla_volatility,elec_fee,oli_price,oli_price_volatility,carbon_credits,carbon_credits_volatility,EVE종가,...,alu_price,alu_vol,alu_change,cu_price,cu_change,REGI_price,REGI_vol,REGI_change,검색량,updown
0,2015-01-02,43.86,23820.0,-1.39,6.67,52.69,-3.44,7.01,-3.31,13.38,...,1828.00,31.38,-1.12,6250.25,-0.55,9.79,436.60,0.82,22,0
1,2015-01-05,42.02,26840.0,-4.20,6.67,50.04,-5.03,6.90,-1.57,13.38,...,1812.25,43.25,-0.86,6142.00,-1.73,9.55,481.67,-2.45,19,0
2,2015-01-06,42.26,31310.0,0.57,6.67,47.93,-4.22,6.77,-1.88,13.89,...,1780.25,56.01,-1.77,6131.00,-0.18,9.12,534.76,-4.50,23,1
3,2015-01-07,42.19,14840.0,-0.17,6.67,48.65,1.50,6.78,0.15,13.75,...,1783.50,61.45,0.18,6125.00,-0.10,9.19,267.66,0.77,22,0
4,2015-01-08,42.12,17210.0,-0.17,6.67,48.79,0.29,6.81,0.44,13.80,...,1825.50,75.03,2.35,6122.75,-0.04,9.43,359.25,2.61,25,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1822,2022-02-28,870.43,32770.0,7.48,7.16,95.72,4.51,82.65,-5.83,89.50,...,3368.50,85.69,0.33,9883.50,0.11,61.50,12740.00,40.38,70,1
1823,2022-03-01,864.37,24720.0,-0.70,7.16,103.41,8.03,69.74,-15.62,86.90,...,3478.00,68.56,3.25,10061.50,1.80,60.75,4790.00,-1.22,67,0
1824,2022-03-02,879.89,24650.0,1.80,7.16,110.60,6.95,67.72,-2.90,84.23,...,3569.00,68.40,2.62,10166.00,1.04,60.86,5040.00,0.18,68,1
1825,2022-03-03,839.29,20260.0,-4.61,7.16,107.67,-2.65,67.01,-1.05,79.51,...,3716.50,106.23,4.13,10351.00,1.82,61.26,5430.00,0.66,71,0
1826,2022-03-04,838.29,22390.0,-0.12,7.16,115.68,7.44,65.80,-1.81,78.15,...,3849.00,106.23,3.57,10674.00,3.12,61.04,4290.00,-0.36,76,0